globus_flows/T_T_FT_T_T_LD_T_ST.json
{
  "Comment": "Transfer data to fastText LPAP for processing, then execute fastText LPAP",
  "StartAt": "DS_ST_Transfer",
  "States": {
    "DS_ST_Transfer": {
      "Next": "DS_FT_Transfer",
      "Type": "Action",
      "Comment": "Transfer validation data to statistics lpap for future processing",
      "WaitTime": 120,
      "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
      "Parameters": {
        "transfer_items": [
          {
            "recursive": false,
            "source_path.$": "$.input.datastore.validation_path",
            "destination_path.$": "$.input.datastore.validation_dest_path"
          }
        ],
        "source_endpoint_id.$": "$.input.datastore.id",
        "destination_endpoint_id": "105a24f4-2a94-11ee-8801-056a4e394379"
      },
      "ResultPath": "$.DS_ST_Transfer_result"
    },
    "DS_FT_Transfer": {
      "Next": "fastText",
      "Type": "Action",
      "Comment": "Transfer text data for language identification (line deliniated text data)",
      "WaitTime": 120,
      "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
      "Parameters": {
        "transfer_items": [
          {
            "recursive": false,
            "source_path.$": "$.input.datastore.data_path",
            "destination_path.$": "$.output_paths_FT.DS_FT_dest"
          }
        ],
        "source_endpoint_id.$": "$.input.datastore.id",
        "destination_endpoint_id": "5612672e-1ead-11ee-abf1-63e0d97254cd"
      },
      "ResultPath": "$.DS_FT_Transfer_result"
    },
    "fastText": {
      "Next": "FT_ST_Transfer",
      "Type": "Action",
      "Comment": "Executes fastText language classification on test data set.",
      "WaitTime": 600,
      "ActionUrl": "http://130.216.216.248:8080/fastText",
      "Parameters": {
        "orchestration_node.$": "$.input.LP_configuration.orchestration_node",
        "input_data.$": "$.output_paths_FT.DS_FT_dest",
        "article_name.$": "$.input.LP_configuration.article_name"
      },
      "ResultPath": "$.fastText_result"
    },
    "FT_ST_Transfer": {
      "Next": "DS_LD_Transfer",
      "Type": "Action",
      "Comment": "Transfer processed text to statistics LPAP",
      "WaitTime": 120,
      "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
      "Parameters": {
        "transfer_items": [
          {
            "recursive": false,
            "source_path.=": "fastText_result.details.output_path",
            "destination_path.$": "$.output_paths_FT.FT_ST_dest"
          }
        ],
        "source_endpoint_id": "5612672e-1ead-11ee-abf1-63e0d97254cd",
        "destination_endpoint_id": "105a24f4-2a94-11ee-8801-056a4e394379"
      },
      "ResultPath": "$.FT_ST_Transfer_result"
    },
    "DS_LD_Transfer": {
      "Next": "langDetect",
      "Type": "Action",
      "Comment": "Transfer text data for language identification (line deliniated text data)",
      "WaitTime": 120,
      "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
      "Parameters": {
        "transfer_items": [
          {
            "recursive": false,
            "source_path.$": "$.input.datastore.data_path",
            "destination_path.$": "$.output_paths_LD.DS_LD_dest"
          }
        ],
        "source_endpoint_id.$": "$.input.datastore.id",
        "destination_endpoint_id": "21968ff8-29c4-11ee-87ff-056a4e394379"
      },
      "ResultPath": "$.DS_LD_Transfer_result"
    },
    "langDetect": {
      "Next": "LD_ST_Transfer",
      "Type": "Action",
      "Comment": "Executes langDetect language classification on test data set.",
      "WaitTime": 600,
      "ActionUrl": "http://130.216.217.76:8080/langdetect",
      "Parameters": {
        "orchestration_node.$": "$.input.LP_configuration.orchestration_node",
        "input_data.$": "$.output_paths_LD.DS_LD_dest",
        "article_name.$": "$.input.LP_configuration.article_name"
      },
      "ResultPath": "$.langDetect_result"
    },
    "LD_ST_Transfer": {
      "Next": "statistics",
      "Type": "Action",
      "Comment": "Transfer text result to statistics lpap",
      "WaitTime": 120,
      "ActionUrl": "https://actions.automate.globus.org/transfer/transfer",
      "Parameters": {
        "transfer_items": [
          {
            "recursive": false,
            "source_path.=": "langDetect_result.details.output_path",
            "destination_path.$": "$.output_paths_LD.LD_ST_dest"
          }
        ],
        "source_endpoint_id": "21968ff8-29c4-11ee-87ff-056a4e394379",
        "destination_endpoint_id": "105a24f4-2a94-11ee-8801-056a4e394379"
      },
      "ResultPath": "$.LD_ST_Transfer_result"
    },
    "statistics": {
      "End": true,
      "Type": "Action",
      "Comment": "Calculates comparitive statistics against validation data",
      "WaitTime": 120,
      "ActionUrl": "http://130.216.217.136:8080/statistics",
      "Parameters": {
        "orchestration_node.$": "$.input.LP_configuration.orchestration_node",
        "article_name.$": "$.input.LP_configuration.article_name",
        "fastText_predictions.$": "$.output_paths_FT.FT_ST_dest",
        "langdetect_predictions.$": "$.output_paths_LD.LD_ST_dest",
        "primary_validation.$": "$.input.datastore.validation_dest_path"
      }
    }
  }
}